In [5]:
import numpy as np
import pandas as pd
import seaborn as sns
# import matplotlib.pylot as plt

from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [14]:
df = pd.read_csv('train.csv', usecols=['Age', 'Pclass', 'SibSp', 'Parch', 'Survived'])

In [15]:
df.head()

   Survived  Pclass   Age  SibSp  Parch
0         0       3  22.0      1      0
1         1       1  38.0      1      0
2         1       3  26.0      0      0
3         1       1  35.0      1      0
4         0       3  35.0      0      0

In [19]:
df.isnull().sum()

Survived      0
Pclass        0
Age         177
SibSp         0
Parch         0
dtype: int64

In [20]:
df.dropna(inplace=True)

In [21]:
X = df.iloc[:, 1:]
y = df.iloc[:, 0]

In [22]:
np.mean(cross_val_score(LogisticRegression(), X, y, scoring='accuracy', cv=20))

0.6933333333333332

# Applying Feature Construction

In [31]:
X['Family_Size'] = X['SibSp'] + X['Parch'] + 1

KeyError: 'SibSp'

In [ ]:
X.head()

In [ ]:
def myfunc(X):
    if X == 1:
        return 0
    elif X > 1 and X <= 4:
        return 1

    else:
        return 2

In [ ]:
X['Family_Type'] = X['Family_Size'].apply(myfunc)

In [ ]:
X.head()

In [ ]:
X.drop(columns=['SibSp', 'Parch', 'Family_Size'], inplace=True)

In [32]:
X.head()

   Pclass   Age  Family_Type
0       3  22.0            1
1       1  38.0            1
2       3  26.0            0
3       1  35.0            1
4       3  35.0            0

In [33]:
np.mean(cross_val_score(LogisticRegression(), X, y, scoring='accuracy', cv=20))

0.7003174603174602

# Feature Splitting

In [65]:
df = pd.read_csv('train.csv')

In [66]:
df['Name'].head()

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
Name: Name, dtype: object

In [67]:
df['Title'] = df['Name'].str.split(', ', expand=True)[1].str.split('.', expand=True)[0]

In [68]:
df['SurName'] = df['Name'].str.split(', ', expand=True)[0]

In [69]:
df[['Title', 'Name']]

    Title                                               Name
0      Mr                            Braund, Mr. Owen Harris
1     Mrs  Cumings, Mrs. John Bradley (Florence Briggs Th...
2    Miss                             Heikkinen, Miss. Laina
3     Mrs       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4      Mr                           Allen, Mr. William Henry
..    ...                                                ...
886   Rev                              Montvila, Rev. Juozas
887  Miss                       Graham, Miss. Margaret Edith
888  Miss           Johnston, Miss. Catherine Helen "Carrie"
889    Mr                              Behr, Mr. Karl Howell
890    Mr                                Dooley, Mr. Patrick

[891 rows x 2 columns]

In [70]:
(df.groupby('Title').mean()['Survived']).sort_values(ascending=False)

TypeError: agg function failed [how->mean,dtype->object]

In [71]:
df['Is_Married'] = 0
df['Is_Married'].loc[df['Title'] == 'Mrs'] = 1

C:\Users\TALHA PC\AppData\Local\Temp\ipykernel_11760\2254989826.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['Is_Married'].loc[df['Title'] == 'Mrs'] = 1
C:\Users\TALHA PC\AppData\Local\Temp\ipykernel_11760\2254989826.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Is_Married'].loc[df['Title'] == 'Mrs'] = 1

In [72]:
df['Is_Married']

0      0
1      1
2      0
3      1
4      0
      ..
886    0
887    0
888    0
889    0
890    0
Name: Is_Married, Length: 891, dtype: int64