In [2]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('Social_Network_Ads.csv')

In [4]:
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [5]:
data['Gender'].replace({'Male':0,'Female':1},inplace=True)

C:\Users\TALHA PC\AppData\Local\Temp\ipykernel_5908\4172580275.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Gender'].replace({'Male':0,'Female':1},inplace=True)
C:\Users\TALHA PC\AppData\Local\Temp\ipykernel_5908\4172580275.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['Gender'].replace({'Male':0,'Female':1},inplace=True)

In [6]:
X=data.iloc[:,1:4].values
y = data.iloc[:, -1].values

In [9]:
from sklearn.tree import DecisionTreeClassifier

In [10]:
clf = DecisionTreeClassifier()

In [ ]:
param_dist = {
    "criterion:"
}