In [1]:
import numpy as np
import pandas as pd

from sklearn.impute import SimpleImputer, KNNImputer

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [5]:
df = pd.read_csv('Datasets/train.csv', usecols=['Age', 'Fare', 'Pclass', 'Survived'])

In [15]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [6]:
df.isnull().mean()

Survived    0.000000
Pclass      0.000000
Age         0.198653
Fare        0.000000
dtype: float64

In [16]:
X = df.iloc[:, 1:]
y = df.iloc[:, 0]

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [47]:
knn_imputer = KNNImputer(n_neighbors=10, add_indicator=True, weights='uniform')

X_train_trf = knn_imputer.fit_transform(X_train)
X_test_trf = knn_imputer.transform(X_test)

In [48]:
pd.DataFrame(X_train_trf, columns=[['Pclass', 'Age', 'Fare', 'Indicator']])

    Pclass   Age      Fare Indicator
0      1.0  45.5   28.5000       0.0
1      2.0  23.0   13.0000       0.0
2      3.0  32.0    7.9250       0.0
3      3.0  26.0    7.8542       0.0
4      3.0   6.0   31.2750       0.0
..     ...   ...       ...       ...
707    3.0  21.0    7.6500       0.0
708    1.0  40.3   31.0000       1.0
709    3.0  41.0   14.1083       0.0
710    1.0  14.0  120.0000       0.0
711    1.0  21.0   77.2875       0.0

[712 rows x 4 columns]

In [49]:
clf = LogisticRegression()

clf.fit(X_train_trf, y_train)

y_pred = clf.predict(X_test_trf)

accuracy_score(y_test, y_pred)

0.7597765363128491

In [64]:
si = SimpleImputer(strategy='mean')

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [65]:
clf = LogisticRegression()

clf.fit(X_train_trf2, y_train)

y_pred = clf.predict(X_test_trf2)

accuracy_score(y_test, y_pred)

0.7374301675977654