In [13]:
import numpy as np
import pandas as pd

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.compose import ColumnTransformer

In [15]:
df = pd.read_csv('train.csv')[['Age', 'Fare', 'SibSp', 'Parch', 'Survived']]

In [16]:
df.head()

    Age     Fare  SibSp  Parch  Survived
0  22.0   7.2500      1      0         0
1  38.0  71.2833      1      0         1
2  26.0   7.9250      0      0         1
3  35.0  53.1000      1      0         1
4  35.0   8.0500      0      0         0

In [17]:
df.dropna(inplace=True)

In [18]:
df['Family'] = df['SibSp'] + df['Parch']

In [19]:
df.drop(['SibSp', 'Parch'], inplace=True, axis=True)

In [20]:
df.head()

    Age     Fare  Survived  Family
0  22.0   7.2500         0       1
1  38.0  71.2833         1       1
2  26.0   7.9250         1       0
3  35.0  53.1000         1       1
4  35.0   8.0500         0       0

In [21]:
X = df.drop(['Survived'], axis=1)
y = df['Survived']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
# Without binarization
clf = DecisionTreeClassifier()

clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

In [24]:
accuracy_score(y_test, y_pred)

0.6293706293706294

In [25]:
np.mean(cross_val_score(DecisionTreeClassifier(), X, y, cv=10, scoring='accuracy'))

0.6499217527386542

In [26]:
# With Binarization
from sklearn.preprocessing import Binarizer

trf = ColumnTransformer([
    ('trf', Binarizer(copy=True), ['Family'])
], remainder='passthrough')

In [27]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

In [33]:
pd.DataFrame(X_train_trf, columns=['Family', 'Age', 'Fare'])

     Family   Age      Fare
0       1.0  31.0   20.5250
1       1.0  26.0   14.4542
2       1.0  30.0   16.1000
3       0.0  33.0    7.7750
4       0.0  25.0   13.0000
..      ...   ...       ...
566     1.0  46.0   61.1750
567     0.0  25.0   13.0000
568     0.0  41.0  134.5000
569     1.0  33.0   20.5250
570     0.0  33.0    7.8958

[571 rows x 3 columns]

In [28]:
clf = DecisionTreeClassifier()

clf.fit(X_train_trf, y_train)

y_pred = clf.predict(X_test_trf)

In [30]:
accuracy_score(y_test, y_pred)

0.6013986013986014

In [ ]:
X_trf = trf.fit_transform(X)

np.mean(cross_val_score(DecisionTreeClassifier(), X, y, cv=10, scoring='accuracy'))